body {
    background-image: url("./Imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.grupo1 {
    background-color: white;
    margin-bottom: 20px;
    border: 2px solid #000;
    padding: 3rem;
}

.boton-generar {
    width: 40%;
}

form {
    width: 40%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type='file'], input[type='number'] {
    width: 90%;
    padding: 8px;
    margin: 0 auto 16px; 
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block
}

button {
    display: block;
    width: 95%;
    padding: 8px;
    background-color: #259e21;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #176314;
}

h1, h2, h3 {
    color: rgb(31, 31, 31);
    text-align: center;
}

.imagen-cola:hover {
    opacity: 0.7;
}

.boton-borrar {
    margin-top: 1rem;
    width: 40%;
    display: block;
    padding: 8px;
    background-color: #464646;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.boton-borrar:hover {
    background-color: #272727;
}

.display-cola {
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
}

a {
    color: #259e21;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: blue; */
    /* color: white; */
    text-align: center;
}

